@if (Session["Postulante"] != null)
{
    Reclutamiento.MVC.ReclutamientoWS.Postulante user = (Reclutamiento.MVC.ReclutamientoWS.Postulante)HttpContext.Current.Session["Postulante"];
    using (Html.BeginForm("LogOff", "Usuario", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bienvenido " + @user.Nombre + @user.ApellidoPaterno + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Empresa", "Index", "Empresa", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Registrarse", "RegistrarPostulante", "Usuario", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Iniciar sesión", "LoginPostulante", "Usuario", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
