<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.ActionLink("Empresa", "Index","Empresa")
        @Html.ActionLink("Registrate", "Registrar", "Postulante")
        @Html.ActionLink("Ingresar", "Login", "Postulante")
        @Html.ActionLink("Crear Rubro","Registrar","Rubro")
        @Html.ActionLink("Listar Rubro", "Listar", "Rubro")
    </div>
</body>
</html>
