@model IEnumerable<Reclutamiento.MVC.ReclutamientoWS.Empresa>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/shared/_BootstrapLayout.basic.cshtml";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Clave)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailContacto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroRuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RazonSocial)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clave)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailContacto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroRuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RazonSocial)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
