@model Reclutamiento.MVC.ReclutamientoWS.Anuncio

@{
    ViewBag.Title = "RegistrarAnuncio";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<h2>RegistrarAnuncio</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Anuncio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Titulo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Titulo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Aptitudes", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ListaAptitudes", ViewData["Aptitudes"] as SelectList, new { htmlAttributes = new { @class = "form-control" } })
                @*@Html.ValidationMessageFor(model => model.RubroID, "", new { @class = "text-danger" })*@
            </div>
            <div class="col-md-offset-2 col-md-2">
                <input id="AgregarAptitudbtn" type="button" value="Agregar" class=" btn btn-default" />
            </div>
        </div>

        <div>
            <table id="AptitudesTable" class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            APTITUD
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function () {


        $("#AgregarAptitudbtn").click(function () {

            var tabla = $("#AptitudesTable");

            var indice = $("#AptitudesTable tr").length - 1;

            var aptitud = $("#ListaAptitudes option:selected");

            if (aptitud.length == 0) {
                return;
            }

            var id = aptitud.val();
            var descripcion = aptitud.text();

            var nuevaFila = "<tr><td>";
            nuevaFila += "<input type='hidden' id='Aptitudes[" + indice + "].Id' name='Aptitudes[" + indice + "].Id' value='" + id + "' />";
            nuevaFila += "<input type='hidden' id='Aptitudes[" + indice + "].Descripcion' name='Aptitudes[" + indice + "].Descripcion' value='" + descripcion + "'/>";
            nuevaFila += id
            nuevaFila += "</td><td>";
            nuevaFila += descripcion;
            nuevaFila += "</td></tr>";

            tabla.append(nuevaFila);

            $("#ListaAptitudes option:selected").remove();
        });
    });
</script>
