
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCompany.cshtml";
}

<h2>Index - Aptitudes</h2>

<div>
    @Html.ActionLink("Aptitudes", "Listar", "Aptitud")
    <br />
    @Html.ActionLink("Retornar", "Index", "Home")
    <br />
    @Html.ActionLink("Registrar una nueva aptitud", "Registrar", "Aptitud")
    <br />
    @Html.ActionLink("Editar una aptitud", "Editar", "Aptitud")
    <br />
    @Html.ActionLink("Eliminar una aptitud", "Eliminar", "Aptitud")
</div>
